# .gitignore
# -- Environment --
.venv
*.egg-info/

# -- Data --
data/

# -- Experiments --
experiments/

# -- Assets --
assets/

# -- Cache --
__pycache__/

# -- Secrets --
.env

# -- Jupyter Notebooks --
*.ipynb

# -- Paper --
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.ttt
*.fff
/paper/update-tlmgr-latest.sh

# -- Hidden files --
.DS_Store